USE [master]
GO
/****** Object:  Database [TravelBlog]    Script Date: 7/22/2023 9:48:22 AM ******/
CREATE DATABASE [TravelBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelBlog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TravelBlog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelBlog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TravelBlog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelBlog]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/22/2023 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[password] [varchar](50) NULL,
	[account_name] [varchar](100) NULL,
	[full_name] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[gender] [bit] NULL,
	[email] [varchar](255) NULL,
	[role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/22/2023 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/22/2023 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NULL,
	[account_id] [int] NULL,
	[content] [ntext] NULL,
	[created_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 7/22/2023 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[tittle] [nvarchar](50) NULL,
	[created_date] [date] NULL,
	[description] [ntext] NULL,
	[image_link] [varchar](255) NULL,
	[account_id] [int] NULL,
	[category_id] [int] NULL,
	[vehicle_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostDetail]    Script Date: 7/22/2023 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostDetail](
	[post_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NULL,
	[content] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[post_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/22/2023 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 7/22/2023 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[service_name] [nvarchar](50) NULL,
	[price] [money] NULL,
	[iconclass] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_of]    Script Date: 7/22/2023 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_of](
	[post_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
 CONSTRAINT [PK_service_of] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 7/22/2023 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[vehicle_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [password], [account_name], [full_name], [address], [gender], [email], [role_id]) VALUES (1, N'Admin123', N'AdminReview', N'Nguyễn Lan Ngọc', N'DaihocFPTHN', 0, N'Ngocnlhe160359@fpt.edu.vn', 1)
INSERT [dbo].[Account] ([account_id], [password], [account_name], [full_name], [address], [gender], [email], [role_id]) VALUES (2, N'12345678', N'Nguoivivu', N'Phùng Hải Anh', N'Tay Son', 1, N'Hahaha12@gmail.com', 2)
INSERT [dbo].[Account] ([account_id], [password], [account_name], [full_name], [address], [gender], [email], [role_id]) VALUES (3, N'23456789', N'DuLichTheGioi', N'Nguyễn Hương Ly', N'HongHac, ThanhPhoYenBai', 0, N'Lynhhs163344@fpt.edu.vn', 2)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (1, N'Việt Nam')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (2, N'Châu Á')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (3, N'Châu Phi')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([comment_id], [post_id], [account_id], [content], [created_date]) VALUES (1, 1, 3, N'Nơi này rất là đẹp. Chụp hình sống ảo là hết nước chấm!!!', CAST(N'2023-03-09' AS Date))
INSERT [dbo].[Comment] ([comment_id], [post_id], [account_id], [content], [created_date]) VALUES (2, 2, 5, N'Đã từng đặt chân đến nơi này. Có rất nhiều hiện tượng đẹp để khám phá. Vẫn muốn quay lại lần thứ 2.', CAST(N'2023-03-09' AS Date))
INSERT [dbo].[Comment] ([comment_id], [post_id], [account_id], [content], [created_date]) VALUES (3, 5, 4, N'Mình rất thích nghiên cứu và khám phá các loài thực vật. Đây đúng là 1 noi lý tưởng để thục hiện mong muốn của mình.', CAST(N'2023-03-06' AS Date))
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([post_id], [tittle], [created_date], [description], [image_link], [account_id], [category_id], [vehicle_id]) VALUES (1, N'SA THẠCH THE WAVE, ARIZONA, MỸ', CAST(N'2023-03-05' AS Date), N'Sự hình thành sa thạch đầy màu sắc ở phía bắc Coyote Buttes, sa mạc Arizona, Hoa Kỳ được tạo nên từ các cồn cát xếp chồng lên nhau cùng sự lắng đọng của muối canxi, tạo nên những đường cong, uốn lượn độc đáo và quyến rũ.', N'https://kenh14cdn.com/thumb_w/660/2019/5/14/photo-1-1557811271978591833211.jpg', 2, 5, 5)
INSERT [dbo].[Post] ([post_id], [tittle], [created_date], [description], [image_link], [account_id], [category_id], [vehicle_id]) VALUES (2, N'ĐỒNG MUỐI SALAR DE UYUNI, BOLIVIA', CAST(N'2023-03-05' AS Date), N'Là đồng muối lớn nhất thế giới, được hình thành từ nhiều hồ nước vào thời tiền sử, cung cấp một lượng nước muối lớn cho cánh đồng Salar de Uyuni. Nơi đây chiếm một nửa trữ lượng lithium của thế giới.', N'https://i1-dulich.vnecdn.net/2019/06/07/1-1559885163.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=bNBjZ2o0HSlVZk1_0lmXfg', 2, 4, 1)
INSERT [dbo].[Post] ([post_id], [tittle], [created_date], [description], [image_link], [account_id], [category_id], [vehicle_id]) VALUES (3, N'CỰC QUANG PHƯƠNG BẮC, IRELAND', CAST(N'2023-03-05' AS Date), N'Tuy chỉ xuất hiện chốc lát rồi biến mất, nhưng những ánh hào quang huyền ảo, lung linh trong bầu trời ban đêm khi kết hợp với những luồng ánh sáng của ngọn núi lửa phun trào gần đó sẽ tạo nên cảnh tượng màu sắc vô cùng độc đáo của vùng đất Ireland.', N'https://vietglobaltravel.com.vn/wp-content/uploads/2017/10/home-welcome-aurora-on-george.jpg', 3, 6, 1)
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[PostDetail] ON 

SET IDENTITY_INSERT [dbo].[PostDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Guest')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'Viewer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([service_id], [service_name], [price], [iconclass]) VALUES (1, N'Nơi nghỉ dưỡng', 10000000.0000, N'fa-solid fa-house')
INSERT [dbo].[Service] ([service_id], [service_name], [price], [iconclass]) VALUES (2, N'Nhà hàng', 10000000.0000, N'fa-solid fa-utensils')
INSERT [dbo].[Service] ([service_id], [service_name], [price], [iconclass]) VALUES (3, N'Khách sạn', 1000000.0000, N'fa-solid fa-hotel')
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
INSERT [dbo].[service_of] ([post_id], [service_id]) VALUES (1, 2)
INSERT [dbo].[service_of] ([post_id], [service_id]) VALUES (1, 3)
INSERT [dbo].[service_of] ([post_id], [service_id]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([vehicle_id], [vehicle_name]) VALUES (1, N'Máy Bay')
INSERT [dbo].[Vehicle] ([vehicle_id], [vehicle_name]) VALUES (2, N'Ô tô')
INSERT [dbo].[Vehicle] ([vehicle_id], [vehicle_name]) VALUES (3, N'Tàu biển')
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__AB6E616419D8034C]    Script Date: 7/22/2023 9:48:22 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__AB6E61643F4E62AD]    Script Date: 7/22/2023 9:48:22 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__AB6E6164D020C617]    Script Date: 7/22/2023 9:48:22 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [gender]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Post] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Post] ADD  DEFAULT ('https://hadowa.vn/wp-content/themes/ryse/assets/images/no-image/No-Image-Found-400x264.png') FOR [image_link]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([post_id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([post_id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([post_id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[PostDetail]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([post_id])
GO
ALTER TABLE [dbo].[PostDetail]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([post_id])
GO
ALTER TABLE [dbo].[PostDetail]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([post_id])
GO
ALTER TABLE [dbo].[service_of]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([post_id])
GO
ALTER TABLE [dbo].[service_of]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([post_id])
GO
ALTER TABLE [dbo].[service_of]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Post] ([post_id])
GO
ALTER TABLE [dbo].[service_of]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([service_id])
GO
ALTER TABLE [dbo].[service_of]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([service_id])
GO
ALTER TABLE [dbo].[service_of]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([service_id])
GO
USE [master]
GO
